{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid padtop50">
    <div class="row">
        <img src="{% static 'images/profil.jpg' %}" class="marginx" alt=""><br>
    </div>
    <div class="row padding280 padding20">
        <h1>Author</h1>
        <p>Bagi sepulsa, kepuasan pelanggan adalah yang utama. Kami senantiasa mendengarkan keluhan maupun kendala yang
            kamu hadapi selama melakukan transaksi di Sepulsa. Umumnya pelanggan Sepulsa menghadapi kendala sebagai
            berikut: Status order Pending Jika transaksi pembayaran sudah selesai, namun status order kamu masih
            pending dalam jangka waktu 15 menit, segera hubungi tim customer service dengan menyertakan email</p><br>
    </div>
    <div class="row padding280 padding20">
        <table>
            <tr class="h35">
                <td class= "w250">Alamat</td>
                <td>:</td>
                <td>Alamat Author</td>
            </tr>
            <tr class="h35">
                <td>Telephone</td>
                <td>:</td>
                <td>Author's Telephone</td>
            </tr>
            <tr class="h35">
                <td>Education</td>
                <td>:</td>
                <td>Author's Education</td>
            </tr>
            <tr class="h35">
                <td>Profession</td>
                <td>:</td>
                <td>Author's profession</td>
            </tr>
            <tr class="h35">
                <td>Company</td>
                <td>:</td>
                <td>Author's company</td>
            </tr>
            <tr class="h35">
                <td>Email</td>
                <td>:</td>
                <td>Author's email</td>
            </tr>
            <tr class="h35">
                <td>Nationality</td>
                <td>:</td>
                <td>Author's nationality</td>
            </tr>
            <tr class="h35">
                <td>Address</td>
                <td>:</td>
                <td>Author's address</td>
            </tr>
        </table>
    </div>
    <div class="row text-center">
        <div class="col-12">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15805.262122853544!2d112.60835772059323!3d-7.966307065986233!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e788285f8e86fb7%3A0x3eb13920c1762b6!2sBadminton+courts+Rajabasa!5e0!3m2!1sen!2sid!4v1549985940223"
                width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</div>
{% endblock %}